@import "../../common/style/_mixin";
@mixin sort(){
  width: 12px;
  height:10px;
  display: inline-block;
  content: "";
  position: absolute;
  margin-left: 5px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.navbar-right{
  text-align: center;
  vertical-align: middle;
  img{
    display: inline-block;
  }
}
//导航
.page-tabs-nav {
  transition: transform 0.3s, opacity 0.3s;
  background-color: #fff;
  line-height: 34px;
  border-bottom:1px solid $borderColor;
  position: relative;
  left: auto;
  top: auto;
  li {
    color: $colorDeep;
    text-align: center;
    border-right: 1px solid $borderColor;
    margin: 4px 0;
    &:last-child{
      border-right-width: 0;
    }
    &.page-tabs-trigger-active {
      color: $foreground;
    }
    &.sortFirst{
      &:after{
        background-image: url("#{$img_path}common/images/experienceStore/icon_cut_under_black.png");
        @include sort();
        width: 16px;
        height: 16px;
        top: 14px;
      }
      &.up{
        &:after {
          background-image: url("#{$img_path}common/images/experienceStore/icon_cut_top.png");
        }
      }
      &.down{
        &:after {
          background-image: url("#{$img_path}common/images/experienceStore/icon_cut_under.png");
        }
      }
    }
  }
}
//位置
.myAddr{
  background-color: $background;
  color: $colorLighter;
  padding:8px 2%;
  .refreshIcon{
    background:{
      image: url('#{$img_path}common/images/experienceStore/icon_refresh.png');
      size: 100%;
    };
    width:16px;
    height:16px;
    display: inline-block;
    float: right;
  }
}

//体验店列表
.shopListUL{
  border-bottom:1px solid $borderColor;
  li{
    padding:8px 2%;
    border-top:1px solid $borderColor;
  }
  .shop-img{
    width:70px;
  }
  .mainRight{
    padding:0 2%;
    font-size: 12px;
    color: $colorLighter;
  }
  h3{
    font-size: 16px;
    color: $colorDeep;
  }
  .star-wrap{
    background: {
      image: url('#{$img_path}common/images/experienceStore/icon_big_star.png');
      size: 18px;
    };
    width:90px;
    height:18px;
    position: relative;
    margin:3px 0;

    .star-inner{
      background: {
        size: 18px;
        image: url('#{$img_path}common/images/experienceStore/icon_big_cli_star.png');
      };
      height:18px;
      position: absolute;
      left:0;
      top:0;
    }
  }
  p{
    line-height: 24px;
  }
  .comment{
    text-align: right;
  }
}