@import "../../common/style/_mixin";
$colorDeep:#42454D;
.header{
  border-bottom-width:0;
}
.consultBtn {
  span {
    background-color: $colorDeep;
    width: 70%;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
  }
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 5px;
  background-color: $background;
}